@charset "UTF-8";
/* src/components/style/_header.scss */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #f8f9fa;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  padding: 0 20px;
}

.navLinks {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navLinks li {
  margin: 0 15px;
}

.navLinks a:hover {
  text-decoration: underline;
}

.navLinks a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.active {
  text-decoration: underline !important;
}

.logo {
  width: 150px;
  height: auto;
}

#image-container {
  position: relative;
  width: 1240px;
  height: 150px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}

#banner {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Voile sombre */
  border-radius: 20px;
}

#image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-family: Arial, sans-serif;
  text-align: center;
  z-index: 1;
}

.app {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1240px;
  border-radius: 20px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f6f6f6;
  padding: 45px;
  box-sizing: border-box;
  padding-top: 45px;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Pour centrer le texte */
}

.card img {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
  height: 100%;
  margin-top: 50px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  width: 100px;
  filter: brightness(0) invert(1);
  margin-bottom: 25px;
  margin-top: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #image-container {
    width: 730px;
  }
  .app {
    width: 730px;
    grid-template-columns: 1fr; /* Une colonne pleine largeur pour les appareils mobiles */
    /* Largeur ajustée pour s'adapter aux écrans plus petits */
    padding-top: 20px; /* Ajustement du padding pour les appareils mobiles */
  }
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .logo {
    width: 100px;
  }
  .navLinks {
    margin-top: 10px; /* Espace supplémentaire entre le logo et les liens */
  }
  .navLinks li {
    margin: 0 10px; /* Réduire la marge entre les éléments de la liste */
  }
  #image-container {
    width: 282px;
  }
  .app {
    background-color: none;
    width: 282px;
    grid-template-columns: 1fr; /* Une colonne pleine largeur pour les appareils mobiles */
    /* Largeur ajustée pour s'adapter aux écrans plus petits */
    padding: 0;
  }
  .card img {
    height: 200px;
  }
}
.accordéon {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.accordéon-header {
  background-color: #ff6b6b;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.accordéon-header h3 {
  margin: 0;
}

.accordéon-icon {
  transition: transform 0.3s;
}

.accordéon-icon.open {
  transform: rotate(180deg);
}

.accordéon-content {
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}/*# sourceMappingURL=main.css.map */