.error-page h1 {
    font-size: 15.625vw;
    color : #ff6060;
    margin: 0;
    font-family: montserrat;
}

.error-page p {
    color: #ff6060;
    font-size: 2vw;;
    margin-top: 50px;
    margin-bottom: 100px;
    font-family: montserrat;
}



.error-page a{
    color: black;
    margin-bottom: 100px;
    font-family: montserrat;
}
