@media (min-width: 320px) and (max-width: 767.98px) {
    .logo {
        width: 100px;
    }
    
    
      .navLinks {
        margin-top: 10px; /* Espace supplémentaire entre le logo et les liens */
      }
    
      .navLinks li {
        margin: 0 10px; /* Réduire la marge entre les éléments de la liste */
      }
      #image-container {
        width: 282px;
     }
     .app {
        background-color: none;
        width: 282px;
        grid-template-columns: 1fr; /* Une colonne pleine largeur pour les appareils mobiles */
         /* Largeur ajustée pour s'adapter aux écrans plus petits */
        padding: 0;
      }
      .card img{
        height: 200px;
      }

      
    
}