@media (min-width: 320px) and (max-width: 767.98px) {
    .logo {
        width: 100px;
    }
    
    
      .navLinks {
        margin-top: 10px; 
      }
    
      .navLinks li {
        margin: 0 10px; 
      }
      #image-container {
        width: 282px;
     }
     .app {
        background-color: none;
        width: 282px;
        grid-template-columns: 1fr; 
        padding: 0;
      }
      .card img{
        height: 200px;
      }

      
    
}