@charset "UTF-8";
/* src/components/style/_header.scss */



.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ajustez la hauteur selon vos besoins */
  background-color: #f8f9fa; /* Couleur de fond, ajustez selon vos besoins */
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Ajustez la largeur maximale selon vos besoins */
  justify-content: space-between; /* Espace entre le logo et le menu */
  padding: 0 20px; /* Ajustez le padding selon vos besoins */
}



.navLinks {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navLinks li {
  margin: 0 15px; /* Ajustez l'espacement entre les éléments du menu */
}



.navLinks a:hover {
  text-decoration: underline;
}

.navLinks a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.active {
  text-decoration: underline !important; /* Style pour le lien actif */
}



.logo {
  width: 150px;
  height: auto;
}
