@charset "UTF-8";
/* src/components/style/_header.scss */



.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
  background-color: #f8f9fa; 
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between; 
  padding: 0 20px; 
}



.navLinks {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navLinks li {
  margin: 0 15px; 
}



.navLinks a:hover {
  text-decoration: underline;
}

.navLinks a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.active {
  text-decoration: underline !important; 
}



.logo {
  width: 150px;
  height: auto;
}
