// src/SCSS/components/slider.scss

.slider {
    position: relative;
    width: 80vw;;
    max-width: 1240px; 
    margin: auto;
  }
  
  .slider-image {
    width: 100%;
    height: 500px;
    border-radius: 8px;
    object-fit: cover;
  }

  // Bouton Carrousel suivant et précédent
  .slider-button {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .prev-button,
  .next-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 80px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.prev-button:hover,
.next-button:hover {
  transform: scale(1.2); 
}
  
// Numérotation des images du Carrousel
.slider-number {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color:transparent;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 16px;
  }
  